@charset "UTF-8";

div {
	box-sizing: border-box;
}

#wrapper {
	width: 100%;
	background-color: #fff;
	
}

.header {
	position: relative;
	width: 100%;
	height: 200px;
	border-bottom: 1px solid #E0E0E0;
}

.top {
	width: 100%;
	height: 35px;
	background-color: #5c9970;
	text-align: center;
}

.top-img {
	display: inline-block;
}

.top1 {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 13px;
	line-height: 35px;
	color: #fff;
}

.header1 {
	width: 100%;
	max-width: 1280px;
	height: 105px;
	text-align: center;
	margin: 0 auto;
	position: relative;
	padding: 30px 0;
}

.logo {
	width: 20%;
	height: 47px;
}

.box-user {
	position: absolute;
	top: 40px;
	right: 0;
}

.mypage {
	display: inline-block;
	margin-right: 35px;
}

.login {
	display: inline-block;
	margin-right: 35px;
}

.admin {
	display: inline-block;
	margin-right: 35px;
}

.navibar {
	width: 100%;
	max-width: 1280px;
	height: 60px;
	position: relative;
	padding: 0;
	text-align: center;
	margin: 0 auto;
}

.navbar {
	width: 50%;
	min-width: 550px;
	padding: 0;
	float: left;
	line-height: 30px;
	z-index: 999;
}

.navbar>ul {
	z-index: 999;
	float: left;
}

.navbar>ul::after {
	clear: both;
	display: block;
}

.navdistance {
	width: 100%;
	height: 100%;
}

.nav-item {
	color: #5E5E5E;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 15px;
	font-weight: bold;
	letter-spacing: 1.8px;
	text-align: center;
	float: left;
	padding-top: 20px;
	width: 100px;
	list-style: none;
	z-index: 999;
}

#navbarSupportedContent {
	width: 100px;
	list-style: none;
	float: left;
	z-index: 999;
}

.nav-about {
	width: 100px;
	height: 60px;
	color: #5E5E5E;
}

.nav-recipe {
	width: 100px;
	height: 60px;
	color: #5E5E5E;
}

.nav-info {
	width: 100px;
	height: 60px;
	color: #5E5E5E;
}

.nav-mypage {
	width: 100px;
	height: 60px;
	color: #7FB292;
	margin-left: 20px;
	position: relative;
}

.nav-mypage:hover {
	color: #7FB292;
}

.nav-mypage:before {
	content: "";
	display: block;
	width: 2px;
	height: 30px;
	background-color: #E0E0E0;
	position: absolute;
	left: -20px;
	bottom: -5px;
	z-index: 999;
		
/* 	opacity: 1;
	visibility: visible; */
}

.nav-item:hover>a {
	color: #7FB292;
}

.nav-item:hover>.submenu {
	width: 100%;
	height: 100%;
	transition-property: height;
	transition-duration: 1s;
	border: 1px solid #5E5E5E;
	position: relative;
	
 	opacity: 1;
	visibility: visible;
}

.nav-item:hover>.myMenuSub>li>a:hover {
	color: #7FB292;
}
.nav-item>ul{
	float: left;
}
.submenu {
	margin-right: 10px;
	padding: 0px;
	height: 0px;
	/* overflow: hidden; */
	transition-property: height;
	background-color: white;
	float: left;
	
	position: relative;
	
 	opacity: 0;
	visibility: hidden;
}

.submenu>* {
	float: left;
}

.submenu>li {
	list-style: none;
	width: 100%;
	float: left;
	text-align: center;
	z-index: 999;
}

.submenu>li>a {
	display: block;
	width: 100%;
	height: 35px;
	text-decoration: none;
	text-align: center;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 14px;
	/* margin-top: 10px; */
	color: #5E5E5E;
	float: left;
}

.nav-line {
	height: 26px;
	float: left;
	position: absolute;
	top: 40%;
	left: 30%;
}

.box-search {
	width: 50%
}

.searchbar {
	position: relative;
	margin-bottom: auto;
	margin-top: 20px;
	margin-left: 0px;
	width: 50%;
	height: 30px;
	border-radius: 30px;
	border-color: #7FB292;
	border-style: solid;
	float: right;
}

.search_input {
	color: black;
	border: 0;
	outline: 0;
	background: none;
	border-color: #7FB292;
	width: 100%;
	caret-color: transparent;
	line-height: 25px;
	padding: 0 10px;
}

.search_icon {
	height: 12px;
	width: 10px;
	position: absolute;
	right: 3%;
	top: 15%;
	border-radius: 50%;
	color: #7FB292;
	text-decoration: none;
}

.contents {
	width: 100%;
	max-width: 1280px;
	height: 1000px;
	margin: 33px auto 50px auto;
	border: 1px solid black;
}

.myMenu, .login, .admin {
	color: #5E5E5E;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 12px;
	font-weight: bold;
	line-height: 10px;
	letter-spacing: 1px;
	text-align: center;
	box-sizing: border-box;
}

#myMenu:hover>.myMenuSub {
	opacity: 1;
	visibility: visible;
}

.myMenuSub:hover>ul {
	opacity: 1;
	visibility: visible;
}

.myMenuSub {
	padding: 5px;
	background-color: white;
	position: relative;
	z-index: 999;
	opacity: 0;
	visibility: hidden;
	border: 1px solid #5E5E5E;
}

.myMenuSub>li {
	list-style: none;
}

.myMenuSub>li>a {
	width: 100%;
	height: 20px;
	text-decoration: none;
	text-align: center;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 12px;
	line-height: 30px;
	color: #5E5E5E;
	background-color: white;
}

.box-user>div {
	float: left;
}

a {
	text-decoration: none;
	color: #5E5E5E;
}

