@charset "UTF-8";
*{
    box-sizing: border-box;
}
#innerContentWrapper {
    margin: 50px auto;
    min-height: 600px;
    width: 600px;
    height: 950px;
    padding: 20px;
}
#title{
    margin: auto;
    text-align: center;
    font-size: 23px;
    font-weight: 700;
    border-left: 1px solid black;
    border-right: 1px solid black;
    width: 150px;
    height: 20px;
    line-height: 20px;
}
.th {
    float: left;
    width: 100px;
    height : 48px;
    text-align: left;
    line-height: 48px;
    font-size: 16px;
}
input{
    height : 50px;
    width : 350px;
    border : 1px solid #707070;
    padding-left: 10px;
}
button{
    height : 50px;
    width : 100px;
    background-color: white;
    border: 1px solid #7FB292;
    color: #7FB292;
}
button:hover{
    font-weight: bolder;
}
.validation{
    width : 350px;
    height : 24px;
}
.greenBtn{
    background-color: #7FB292;
    color: white;
    border: 0px;
}
.vBar{
    font-size: 16px;
    font-weight: 500;
}
#submit:hover{
    color: black;
}
.textDiv{
    line-height: 45px;
    
}
.Modal{
    top: 20%
}
.disabledInputTag{
	border: none;
	background-color: white;
	color: black;
}