@charset "UTF-8";
*{
    box-sizing: border-box;
}
#innerContentWrapper> * {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 90%;
	letter-spacing: -0.04em;
} 
#innerContentWrapper {
    margin: 50px auto;
    min-height: 600px;
    width: 600px;
    height: 950px;
    padding: 20px;
    text-align: center;
}
#subTitle{
    color: #707070;
    font-size: 18px;
}
.input{
    height : 50px;
    width : 350px;
    border : 1px solid #707070;
    padding-left: 10px;
    margin: 10px auto;
}
.greenBtn{
    background-color: #7FB292;
    color: white;
    border: 0px;
}